#food-menu{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-image: round;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0 0.79);
    margin: 2rem 0;
}

#popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popupContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    text-align: center;
}
  
#popupTitle {
    font-size: 24px;
    margin-bottom: 10px;
}
  
#popupImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
  
#popupIngredients {
    list-style: none;
    padding: 0;
}
  
#closeButton {
    margin-top: 10px;
}